<!doctype html>
<html>

<head>
  <base href="/">
  <title>Mean</title>
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
</head>

<body class="main-background">
  <div id="main">
    <div class="content-main">
      <div class="content-box">
        <div ui-view="header"></div>
      </div>
    </div>
    <div class="content-main">
      <div class="content-box">
        <div ui-view="content" class="content"></div>
      </div>
    </div>
    <div class="content-main">
      <div class="content-box">
        <footer class="page-footer white-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h5>Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <!-- Bower Components -->
  <script src="bower_components/jquery-2.2.4.min/index.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="assets/css/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Dist -->
  <script src="assets/dist/core.min.js"></script>
  <script src="assets/dist/applicant.min.js"></script>
  <script src="assets/dist/talent.min.js"></script>
  <script src="assets/dist/shared.min.js"></script>
  <!-- Ng Tags Input -->
  <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
</body>

</html>
