<!-- HTML GOES HERE -->
<div class="container">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" ng-model="ac.name">
    </div>
    <div class="form-group">
      <label>Position</label>
      <input type="text" class="form-control" placeholder="Position" ng-model="ac.position">
    </div>
    <div class="form-group">
      <label>Skills</label>
      <input type="text" class="form-control" placeholder="Skills [e.g. JS, CSS]" ng-model="ac.skills">
    </div>
    <div class="form-group">
      <label>Prefer Salary</label>
      <input type="text" class="form-control" placeholder="Prefer Salary" ng-model="ac.preferSalary">
    </div>
    <div class="form-group">
      <label>Comment</label>
      <input type="text" class="form-control" placeholder="Comment" ng-model="ac.comment">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="ac.save()">Save</button>
  </form>
</div>
