<div class="container">
  <form class="form form-inline">
    <div class="row">
      <div class="col-md-12">
        <h3>Advanced Search</h3>
        <div class="form-group">
          <label class="sr-only">Position</label>
          <tags-input ng-model="ac.position" placeholder="Position" replace-spaces-with-dashes="false" max-tags="1">
            <auto-complete source=ac.loadTags('positions')></auto-complete>
          </tags-input>
        </div>
        <div class="form-group">
          <label class="sr-only">Skills Required</label>
          <tags-input ng-model="tc.skills" placeholder="Add a skill" replace-spaces-with-dashes="false">
            <auto-complete source="tc.loadTags('skills')"></auto-complete>
          </tags-input>
        </div>
        <div class="form-group">
          <label class="sr-only">Age Range (optional)</label>
          <input type="number" ng-model="tc.fromAge" class="form-control" placeholder="Age from" min="1">
          <input type="number" ng-model="tc.toAge" class="form-control" placeholder="Age to" min="1">
        </div>
        <div class="form-group">
          <label class="sr-only">Sort By</label>
          <select ng-model="tc.sortBy" class="form-control">
            <option value="">Sort By</option>
            <option value="_applicant.count_skills">Most numbers of relevant skills</option>
            <option value="_applicant.preferred_salary">Cheapest</option>
            <option value="age">Youngest</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-info" ng-click="tc.search()">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12" ng-show="tc.showResults">
    <div class="row">
      <div class="form-group">
        <h3>Results</h3>
        <table class="table table-bordered table-hover table-condensed table-striped small">
          <thead>
            <tr>
              <th><a ng-click="tc.sort('name', !tc.order.reverseSort)">Name</a></th>
              <th><a ng-click="tc.sort('age', !tc.order.reverseSort)">Age</a></th>
              <th><a ng-click="tc.sort('_applicant.preferred_salary', !tc.order.reverseSort)">Preferred Salary</a></th>
              <th><a ng-click="tc.sort('_applicant.count_skills', !tc.order.reverseSort)">Skills</a></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in tc.results | orderBy: tc.order.field : tc.order.reverseSort">
              <td ng-bind="result.name"></td>
              <td ng-bind="result.age"></td>
              <td ng-bind="result._applicant.preferred_salary"></td>
              <td>
                <ul ng-repeat="skill in result._applicant._skills">
                  <li ng-bind="skill.name"></li>
                </ul>
              </td>
              <td>
                <button class="btn btn-default" ng-click="tc.view(result._id)" data-toggle="modal" data-backdrop='static' href="/talent#modal-id">View</button>
              </td>
            </tr>
            <tr ng-if="tc.results.length === 0">
              <td colspan="5" align="center">No results found</td>
            </tr>
          </tbody>
        </table>
        <div ng-show="tc.showResume">
          <div ng-if="tc.result.length !== 0">
            <div class="modal fade" id="modal-id">
              <div class="modal-dialog small">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="modal-title">My Resume</h4>
                  </div>
                  <div class="panel-body">
                    <p>Name: <strong ng-bind="tc.result.name | uppercase "></strong></p>
                    <p>Age: <strong ng-bind="tc.result.age"></strong></p>
                    <p>Birthday: <strong ng-bind="tc.result.birthday | date "></strong></p>
                    <p>
                      Skills:
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="skill in tc.result._applicant._skills" ng-bind="skill.name"></li>
                      </ul>
                    </p>
                    <p>Position: <strong ng-bind="tc.result._position.name"></strong></p>
                    <p>Preferred Salary: <strong ng-bind="tc.result._applicant.preferred_salary | currency: 'P ' "></strong></p>
                  </div>
                  <div class="panel-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
